*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#ff4da6;
}

nav h2{
color:white;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:25px;
}

nav ul li a{
color:white;
text-decoration:none;
font-size:17px;
}

nav ul li a:hover{
color:#ffd6ec;
}

/* MENU */

.menu{
padding:60px 20px;
background:#fff0f6;
text-align:center;
}

.title{
font-size:35px;
margin-bottom:40px;
}

/* GRID */

.menu-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

max-width:1100px;

margin:auto;

}

/* CARD */

.menu-card{

background:white;

border-radius:12px;

overflow:hidden;

box-shadow:0 10px 20px rgba(0,0,0,0.1);

transition:0.3s;

}

.menu-card:hover{

transform:translateY(-10px);

}

/* IMAGE */

.menu-card img{

width:100%;

height:200px;

object-fit:cover;

}

/* TEXT */

.menu-card h3{

margin:15px 0;

}

.price{

color:#ff4da6;

font-weight:bold;

margin-bottom:10px;

}

/* BUTTON */

.menu-card button{

padding:10px 20px;

background:#ff4da6;

color:white;

border:none;

border-radius:20px;

margin-bottom:15px;

cursor:pointer;

}

.menu-card button:hover{

background:#ff1a8c;

}

/* MOBILE */

@media(max-width:600px){

nav{

flex-direction:column;

}

nav ul{

margin-top:10px;

}

}
